@model List<MvcProductStore.Models.Product>

@{
    ViewBag.Title = "Duty Free Store";
}

<div class="card mt-4">


    <a href="~/Store/Details/1">


        <picture>
            <source data-srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw71dff8a4/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Desktop.jpg?sw=1616&amp;sfrm=jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw71dff8a4/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Desktop.jpg 2x" media="(min-width: 992px)" srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw71dff8a4/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Desktop.jpg?sw=1616&amp;sfrm=jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw71dff8a4/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Desktop.jpg 2x">
            <img src="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw3b47f277/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Mobile.jpg?sw=991&amp;sfrm=jpg" data-src="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw3b47f277/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Mobile.jpg?sw=991&amp;sfrm=jpg" data-srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw3b47f277/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Mobile.jpg?sw=991&amp;sfrm=jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw3b47f277/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Mobile.jpg 2x" alt="Man and woman lounging in a modern living room wearing blazers with khaki pants and NB 2002R sneakers" class="w-100 lazyloaded" srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw3b47f277/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Mobile.jpg?sw=991&amp;sfrm=jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw3b47f277/images/page-designer/2023/October/2002_RDO_RDQ_RDN_Comp_A_Mobile.jpg 2x">
        </picture>


    </a>



    <div class="card-body">
        <h3 class="card-title">New Balance 2023 Models</h3>
        <h4>From 1088,-</h4>
        <p class="card-text">
            Freshfoam X 1080

            <a href="https://dk.newbalance.eu/da/pd/fresh-foam-x-1080v13/M1080V13-41140.html?dwvar_M1080V13-41140_style=M1080B13">Read more</a>
        </p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars


    </div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Most popular products
    </div>
    <div class="card-body">


        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Store", new { id = item.ProductId })">
                <img alt="@item.Name" src="@item.ImageUrl" style="max-height:50px;" />
                <span>@item.Name</span>
            </a>
            <hr>
        }

        <a href="@Url.Action("Reviews", "Home", new { })" class="btn btn-success">Leave a Review</a>
    </div>
</div>
<!-- /.card -->


<div class="grid-tile card card-outline-secondary my-4 w-50">
    <figure class="position-relative mb-8">
        <picture>

            <source srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw963c51b7/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Desktop_Single.jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw963c51b7/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Desktop_Single.jpg 2x" media="(min-width: 992px)">
            <img src="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw52a4959a/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Mobile.jpg?sw=991&amp;sfrm=jpg" srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw52a4959a/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Mobile.jpg?sw=991&amp;sfrm=jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw52a4959a/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Mobile.jpg 2x" alt="" class="w-100 d-inline d-lg-none" fetchpriority="high">
            <img src="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw52a4959a/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Mobile.jpg?sw=991&amp;sfrm=jpg" srcset="https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw52a4959a/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Mobile.jpg?sw=991&amp;sfrm=jpg 1x, https://dk.newbalance.eu/dw/image/v2/AASY_PRD/on/demandware.static/-/Library-Sites-NBUK-NBEU/default/dw52a4959a/images/page-designer/2023/October/RYW_Phase2_Wesley_Comp_S_Mobile.jpg 2x" alt="" class="w-100 d-lg-inline d-none" fetchpriority="high">

        </picture>
        <figcaption class="component-content position-absolute row w-100 one-tile-wide">
            <div class="col-10 offset-1 w-100 ">

                <h1 class="headline didot d-none d-lg-block light-color-mode">
                    Run your way.
                </h1>

                <h1 class="headline didot d-block d-lg-none light-color-mode">
                    Run your way.
                </h1>

            </div>

        </figcaption>

    </figure>
</div>