@model List<MvcProductStore.Models.Product>

@{
    ViewBag.Title = "Duty Free Store";
}

    <div class="card mt-4">
        <a href="~/Store/Details/6"><img class="card-img-top img-fluid" src="~/Content/Images/1400x520_THE_SCENT_DK.jpg" width="900px" alt=""></a>
        <div class="card-body">
            <h3 class="card-title">Hugo Boss The Scent</h3>
            <h4>399,-</h4>
            <p class="card-text">
                BOSS The Scent Private Accord for Him 100ml eau de toilette

                <a href="https://www.hugoboss.com/fragrances-men-boss-the-scent/">Read more</a>
            </p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars


        </div>
    </div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Most popular products
    </div>
    <div class="card-body">


        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Store", new { id = item.ProductId })">
                <img alt="@item.Name" src="@item.ImageUrl" style="max-height:50px;" />
                <span>@item.Name</span>
            </a>
            <hr>
        }

        <a href="@Url.Action("Reviews", "Home", new { })" class="btn btn-success">Leave a Review</a>
    </div>
</div>
<!-- /.card -->
