@model List<MvcProductStore.Models.Product>

@{
    ViewBag.Title = "Runner shop";
}

<div class="card mt-4">


    <a href="~/Store/Details/1">

        <img src="~/Content/Images/2002_RDO_RDQ_RDN_Comp_A_Desktop.jpg" alt="Man and woman lounging in a modern living room wearing blazers with khaki pants and NB 2002R sneakers" class="w-100" />

    </a>



    <div class="card-body">
        <h3 class="card-title">New Balance 2023 Models</h3>
        <h4>From 1088,-</h4>
        <p class="card-text">
            Freshfoam X 1080

            <a href="https://dk.newbalance.eu/da/pd/fresh-foam-x-1080v13/M1080V13-41140.html?dwvar_M1080V13-41140_style=M1080B13">Read more</a>
        </p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars


    </div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Most popular products
    </div>
    <div class="card-body">


        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Store", new { id = item.ProductId })">
                <img alt="@item.Name" src="@item.ImageUrl" style="max-height:50px;" />
                <span>@item.Name</span>
            </a>
            <hr>
        }

        <a href="@Url.Action("Reviews", "Home", new { })" class="btn btn-success">Leave a Review</a>
    </div>
</div>
<!-- /.card -->


<div class="grid-tile card card-outline-secondary my-4 w-100">
    
    <img src="~/Content/Images/jan23_artikel_Neel_X_Asics_Nimbus25_banner.jpg"
         class="w-100 d-lg-inline d-none" />
    
    <h1 class="headline didot d-block light-color-mode">
        Run your way.
    </h1>

</div>