<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, snk-to-fit=no">
    
    <link rel="icon" type="image/x-icon" href="~/favicon_1.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon_1.png" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/reset.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">*@
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="main-container">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-nav-grey py-3">
            <div class="container">

                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45.401" height="38.065" viewBox="0 0 45.401 38.065">
                        <defs>
                            <linearGradient id="linear-gradient" x1="0.752" y1="0.341" x2="-0.185" y2="0.564" gradientUnits="objectBoundingBox">
                                <stop offset="0.011" stop-color="#12e6ff"></stop>
                                <stop offset="0.277" stop-color="#14bbff"></stop>
                                <stop offset="0.603" stop-color="#178dff"></stop>
                                <stop offset="0.855" stop-color="#1971ff"></stop>
                                <stop offset="1" stop-color="#1a67ff"></stop>
                            </linearGradient>
                        </defs>
                        <path id="Path_34" data-name="Path 34" d="M139.788,100.647c-2.439-1.506-8.058-4.887-15.754-9l-.022.028a.128.128,0,0,1,.02-.023A316.474,316.474,0,0,0,95.058,77.932s16.5,20.02,18.306,22.212l8.653-5.877-11.3,12.624h0L102.767,116c7.558-2.012,13.8-3.974,18.9-5.774v0c.048-.019.095-.034.141-.056,10.046-3.552,15.608-6.464,17.959-7.835C140.705,101.79,140.666,101.189,139.788,100.647Z" transform="translate(-95.058 -77.932)" fill="url(#linear-gradient)"></path>
                    </svg>
                    Runners Shop
                </a>

                @*Html.ActionLink("Product Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    @Html.Partial("_SearchPartial")

                    <ul class="navbar-nav ml-auto px-2">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Store", "Index", "Store", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li><i class="fas fa-shopping-basket" style="vertical-align:bottom"></i></li>
                        <li class="nav-item">
                            @{ Html.RenderAction("CartSummary", "ShoppingCart"); }
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/StoreManager/")">Admin</a>
                            </li>
                        }

                        @Html.Partial("_LoginPartial")
                    </ul>

                </div>
            </div>
        </nav>

        <div style="margin-left: 15px; margin-right: 15px;">
            <div class="row" style="background: #d97e44; color: #fff; padding: 10px 45px">
                <div class="col-12">
                    Best shop for runners. Save up to 70% on selected items in our store. Hurry up while the stock lasts. Order by <span id="countdown">6h 16m 0s</span> for delivery next day
                </div>
            </div>

        </div>




        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-3">
                    <h1 class="my-4"><a href="~/Store/Details/6" style="text-decoration: none">Mid season sale right now</a></h1>
                    <img src="~/Content/Images/nb-1080v13-thumb.jpg" width="250" />
                    @{ Html.RenderAction("CategoryMenu", "Store"); }

                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9" style="min-height: 500px">

                    @RenderBody()

                </div>
                <!-- /.col-lg-9 -->

            </div>

        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">All rights reserved Runnershop.com Copyright &copy; @DateTime.Now.Year | <a href="/Home/Contact">Contact us</a>  </p>

            </div>

            <div class="text-center center-block">
                <img src="https://images.ctfassets.net/uxrhu22fwd1p/3dr6pnEzRwmeTnVnZDtthl/dff782ec795dcc885844985a43f13d9f/dk-logobar-web-dark-bkg.png"/>
            </div>
            
            <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i class="fab fa-facebook fa-3x social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i class="fab fa-twitter fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i class="fab fa-instagram fa-3x social"></i></a>
            </div>

            <!-- /.container -->
        </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @RenderSection("scripts", required: false)
    
    <script>
        // Set the target date and time
        const targetDate = new Date();
        targetDate.setHours(targetDate.getHours() + 6);
        targetDate.setMinutes(targetDate.getMinutes() + 16);
        targetDate.setSeconds(0); // Set seconds to 0

        const countdownElement = document.getElementById("countdown");

        // Update the countdown every second
        const countdownInterval = setInterval(updateCountdown, 1000);

        function updateCountdown() {
            const now = new Date();
            const timeDifference = targetDate - now;

            if (timeDifference <= 0) {
                countdownElement.textContent = "0h 0m 0s";
                clearInterval(countdownInterval);
            } else {
                const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
                countdownElement.textContent = hours + "h " + minutes + "m " + seconds + "s";
            }
        }

        // Initial update
        updateCountdown();
    </script>
</body>
</html>
