@model IEnumerable<MvcProductStore.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search results (@Model.Count())</h2>


<div>

    <ul class="search-result">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details",
                    new { id = item.ProductId })">
                    <img alt="@item.Name" src="@item.ImageUrl" width="50" />
                    <span>@item.Name</span>
                </a>
            </li>
        }
    </ul>
</div>


